/* Body styles */
body {
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(to top, #1a1a2e 0%, #16213e 100%);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 200vh;
}

/* Header styles */
header {
  width: 100%;
  background-color: #1db954; /* Spotify green */
  padding: 20px 0;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* Header content styles */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin: 0;
}

/* Student info paragraph styles */
.student-info p {
  margin: 0;
}

/* Chooser styles */
.chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* Result container styles */
#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin-top: 80px;
}

/* Label styles */
label {
  margin-right: 10px;
  color: #1db954;
  font-weight: bold;
}

/* Select dropdown styles */
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #282828;
  color: #fff;
  border-radius: 5px;
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1db954; /* Spotify green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2rem;
}

/* Button hover effect */
button:hover {
  background-color: #4caf50;
}

/* Track container styles */
.track {
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s; /* Added transform property */
}

/* Track hover effect */
.track:hover {
  background-color: #383838;
  transform: scale(1.05);
}

/* Image styles */
img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Anchor link styles */
a {
  color: #1db954;
  text-decoration: none;
}

/* Anchor link hover effect */
a:hover {
  text-decoration: underline;
}
